/*

h2 color:#2c3e50


For blog seperation us a <hr> and search for hr styles online

For starting the firt paragrah in the blog use a left border.

pay attention to alignment of the elements

the date is in all caps and is spaced apart.

NOTE: Use calculated spacing to figure out how much spacing is needed.

*/

body{
    font-family: 'Merriweather', serif;
    border: 20px solid #bdc3c7;
    padding:5%;
    margin: 5%;
}
.date{
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 5px;
    margin:1px;
    color:#00bbe3;
}
h2{
    color:#2c3e50;
}
.borderp{
    border-left: 5px solid #bdc3c7;
    padding-left: 10px;
    
}
hr{
    color:#f0f5f5;
    opacity: 30%;
  
}