h1 {
    font-family:'Baloo Tamma', cursive;
    font-size: 2em;
    text-align: center;
}

table{
     margin: auto;
}

td {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

#tlcorner, #lmiddle, #lbottom{
    border-left: hidden;
  
}

#tlcorner,#tcmiddle,#trcorner {
    border-top: hidden;
}

#trcorner, #rmiddle, #rbottom{
    border-right: hidden;
}

#lbottom, #mbottom, #rbottom{
    border-bottom: hidden;
}
